// {{ ansible_managed }}
// This is the primary configuration file for the BIND DNS server named.
//
// Please read /usr/share/doc/bind9/README.Debian.gz for information on the
// structure of BIND configuration files in Debian, *BEFORE* you customize
// this configuration file.
//
// If you are just adding zones, please do that in {{ named_configs_path }}/named.conf.local

{% if bind_named_conf_acl is defined %}
include "{{ named_configs_path }}/named.conf.acl";
{% endif %}
include "{{ named_configs_path }}/named.conf.options";
{% if bind_named_conf_keys is defined %}
include "{{ named_configs_path }}/named.conf.keys";
{% endif %}
{% if bind_named_conf_logging is defined %}
include "{{ named_configs_path }}/named.conf.logging";
{% endif %}
{% if bind_named_conf_controls is defined %}
include "{{ named_configs_path }}/named.conf.controls";
{% endif %}
include "{{ named_configs_path }}/named.conf.default-zones";
{% if bind_zones is defined %}
include "{{ named_configs_path }}/named.conf.local";
{% endif %}
